
/* https://developer.mozilla.org/en-US/docs/Web/CSS */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_cookbook */
/* https://github.com/mdn/css-examples/blob/master/css-cookbook/sticky-footer--download.html */

html {
    height:100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*
    font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
*/

body {
    height:100%;
    background-color: #fff;
    color: #333;
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    font-size: 20px;
}

* {
    box-sizing: inherit;
}

section {
    height: 100%
}

h2 {
  margin: 25px 0 10px;
  font-size: 20px;
}

/*    
    padding: 15px;
*/
    /* -webkit-appearance: none !important; */
button[type="button"] {
    font-family: Helvetica ;
    font-weight: bold ;
    padding: 15px;
    border: 1px solid black ;
    -moz-border-radius: 8px ;
    -webkit-border-radius: 8px ;
    -webkit-appearance: none !important;
    margin-top: 10px ;
    margin-bottom: 10px ;
    background-color: white ;
}

button[type="submit"] {
    font-family: Helvetica ;
    font-weight: bold ;
    padding: 15px;
    border: 1px solid black ;
    -moz-border-radius: 8px ;
    -webkit-border-radius: 8px ;
    -webkit-appearance: none !important;
    margin-top: 10px ;
    margin-bottom: 10px ;
    background-color: white ;
}


input[type="search"] {
    font-size: 20px;
    background: white;
    padding: 10px 20px;
    border: none;
}

input[type="text"] {
    font-size: 20px;
    background: white;
}

/*
input {
    font-size: 20px;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
*/


/* class="wrapper" */
.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.page-header,
.page-footer {
    /* background-color: rgb(75, 70, 74); */
    background-color: #25558b;
    color: #fff;
    padding: 20px;
}

.page-body {
    padding: 20px;
}

.preview {
    height: 400px;
    overflow: auto;
}

.main-nav {
    display: flex;
}

.push {
    margin-left: auto;
}



/* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details */

/*
 * Always set the map height explicitly to define the size of the div element
 * that contains the map.
 */

/* 
id="map"
#map {
  height: 100%;
}
*/

#container {
  height: 100%;
}

#progress {
    -webkit-border-radius: 10px;
    background-color: rgba(0,0,0,.7);
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 80px;
    left: 60px;
    line-height: 80px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    top: 120px;
    width: 200px;
}

/* CSS Statements that only apply on webkit-based browsers (Chrome, Safari, etc.) 
 @media screen and (-webkit-min-device-pixel-ratio: 0) { 

 https://developer.mozilla.org/en-US/docs/Web/CSS/@media 
 https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries

 https://developer.mozilla.org/en-US/docs/Web/Progressive_web_apps

 https://developer.mozilla.org/en-US/docs/Web/CSS/@supports 
*/

@media screen and (max-width: 480px) {
  body {
    background: #ccc;
    padding: 0;
  }

}

/* Smartphones (portrait) ----------- */  
@media only screen 
and (max-width : 320px) {
/* Styles */ 
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}


/* Safari 11+ */
/*
@media not all and (min-resolution:.001dpcm) { 
  @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    selector {
        property:value;
    }
  }
}
*/
/* Test website on real Safari 11+ */

/* Safari 10.1 */
/*
@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) and (not (stroke-color:transparent)) {
    selector {
      property:value;
    }
  }
}
*/

/* Safari 6.1-10.0 (but not 10.1) */
/*
@media screen and (min-color-index:0) and (-webkit-min-device-pixel-ratio:0) {
  @media {
    selector {
      property:value;
    }
  }
}
*/


